.LinkButton{
  min-height: 40px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #EABD00;
  font-size: 1rem;
  padding: 20px 30px;
  &:hover {
    opacity: 0.8;
  }
}
