node_modules
/backend/?
platform/products/backend/.env
platform/config.ini
/platform/products/backend/data/db/*
/platform/products/backend/data/router/etc/letsencrypt/*
*.lock
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/org.eclipse.core.resources.prefs
backend/.settings/org.eclipse.jdt.apt.core.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.m2e.core.prefs
.idea
