.mixForms {
  z-index: 5;
  width: 100%;
  height: fit-content;
  background: white;
  max-width: 500px;

  .focusButton {
    display: flex;
    flex-direction: row;

    button {
      height: 50px;
      width: 100%;
      border: none;
      color: #7a7a7a;
      background: lightgrey;
      border-top: 8px solid darkgrey;

      &:disabled {
        background: white;
        border-top: 8px solid #EABD00;
      }
    }
  }

  @media (min-width: 750px) {
    -webkit-box-shadow: 0 10px 12px -8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 10px 12px -8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 12px -8px rgba(0, 0, 0, 0.6);
  }
}
