/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

$bg:url('./assets/register.svg');

.Home {
  background: $bg no-repeat top center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
}

@media (min-width: 576px) {
  .Home {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .Home {
    padding: 0;
    background-size: 45%;
  }
}

