/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;

  width: 100%;
  max-width: 500px;
}
