.Header{
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 170px;
    padding: 0 50px;
    img {
        width: 220px;
        align-self: center;
        justify-self: center;
    }
}
