.ContainerForm {
  display: flex;
  flex-direction: column;
  padding: 5%;

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  p[aria-label=redirect-text]{
    margin-top: 50px;
    text-align: center;
  }

  button {
    max-width: initial;
    width: 100%;
  }
}

@media (min-width: 750px) {
  .ContainerForm {
    button {
      max-width: 300px;
      max-height: 50px;
    }

    h1 {
      text-align: left;
    }
  }
}
