.InputFieldForm{
  border-radius: 5px;
  height: 30px;
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px 10px;
  font-size: 1rem;

  &.correct {
    border: 2px green solid;
  }
  &.incorrect {
    border: 2px red solid;
  }
}
