.InputFieldForm{
  width: calc(100% - 22px);
  height: 30px;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  &.correct {
    border: 3px green solid;
  }
  &.incorrect {
    border: 3px red solid;
  }
}
